.testimonials-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
}

.testimonials-wrapper > h1 {
  font-family: 'Markazi Text';
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 2.6875rem;
}

.testimonials-box-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .testimonials-wrapper {
    display: none;
  }
}
