.specials__wrapper {
  height: 40.625rem;
}
.specials__header {
  display: flex;
  margin-bottom: 3.5rem;
  justify-content: space-between;
  align-items: center;
}

.specials__header h2 {
  font-weight: 500;
  font-size: 2.5rem;
}
