.card__container {
  width: 16.5rem;
  display: flex;
  flex-direction: column;
  background-color: #edefee;
  border-radius: 16px 16px 0 0;
}

.card__container > img {
  border-radius: 16px 16px 0 0;
  display: block;
  margin-bottom: 1.25rem;
}

.card__content {
  display: flex;
  padding: 0 0.9375rem 0.9375rem 0.9375rem;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.card__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.375rem;
  align-items: center;
}

.card__title {
  font-family: 'Markazi Text';
  font-size: 1.5rem;
  font-weight: 500;
}

.card__price {
  font-size: 1rem;
  font-weight: 700;
  color: #ee9972;
}

.card__description {
  font-size: 1rem;
  font-weight: 400;
  color: #495e57;
  margin-top: -3.125rem;
}

.card__footer {
  font-weight: 700;
  font-size: 1rem;
}

.card__footer span {
  margin-right: 0.625rem;
}

@media (max-width: 900px) {
  .cards__container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .cards__list {
    width: 16.5rem;
    overflow-x: scroll;
  }
}

.cards__list {
  display: flex;
  height: 27.5rem;
  justify-content: space-between;
}
