.specials-header {
  display: flex;
  margin-bottom: 3.5rem;
  justify-content: space-between;
  align-items: center;
}

.specials-header h2 {
  font-weight: 500;
  font-size: 2.5rem;
}

.list-cards {
  display: flex;
  height: 27.5rem;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .specials-header {
    padding: 0 1.5625rem;
  }

  .cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .list-cards {
    width: 16.5rem;
    overflow-x: scroll;
  }
}
