footer {
  display: flex;
  height: 26.0625rem;
  background-color: #d9d9d9;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-links-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.footer-links-container a,
.footer-links-container span {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.625rem;
  color: #333333;
}

.footer-links-container p {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1.4375rem;
  color: #495e57;
}

@media (max-width: 900px) {
  footer img {
    display: none;
  }
}
