.testimonials__wrapper {
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  height: 36.875rem;
}

.testimonials__wrapper .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials__wrapper .wrapper h1 {
  font-family: 'Markazi Text';
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 2.6875rem;
  margin-bottom: 4.125rem;
}

.testimonials-box-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .testimonials-wrapper {
    display: none;
  }
}
