.testimonial-box {
  width: 9.5rem;
  padding: 1.8125rem 1.5rem;
  background-color: #ffffff;
}

.testimonial-box-person {
  display: flex;
  align-items: center;
  margin-bottom: 1.0625rem;
}

.testimonial-box-title {
  margin-bottom: 0.8125rem;
  display: block;
}

.testimonial-box-person > img {
  margin-right: 0.75rem;
}
