nav > ul {
  display: flex;
  list-style: none;
}

nav > ul > li {
  margin-right: 1.75rem;
}

nav > ul > li > a {
  text-decoration: none;
  font-size: 1.25rem;
  color: #000000;
}

@media screen and (max-width: 900px) {
  nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}
